{% load static %}

 <html>
    <head>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <meta name="description" content="{% block metadescription %} {% endblock %}">

    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="https://kit.fontawesome.com/a5d3a2490b.js" crossorigin="anonymous"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  
    {% block title %} {% endblock %}
    </head>
    <body style="background-color: skyblue">
        <div>
            {% include 'navbar.html ' %}
        <div class="container">
        {% include 'header.html ' %}
        {% block content %}
        {% endblock %}
        </div>
    </div>
    
        {% include 'footer.html ' %}
    <script src="{% static ' js/popper.min.js' %} "></script>
    <script src="{% static ' js/bootstrap.min.js' %}"></script>
</body>
</html>
