{% extends "base.html" %}
{% load static %}

{% block metadescription %}
    {{ product.description|truncatewords:150 }}
{% endblock %}

{% block title %}
    {{ product.name }} - Codiac Store
{% endblock %}

{% block content %}
<div class="container my-4">
    <div class="row">
        <div class="col-md-6">
            <div class="text-center">
                <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <h1 class="my-4">{{ product.name }}</h1>
                <p class="lead">Rs{{ product.price }}</p>
                <hr>
                <h2 class="my-3">Product Description</h2>
                <p class="text-justify">{{ product.des }}</p>
                {% if product.stock <= 0 %}
                    <p class="text-danger">Out of stock</p>
                {% else %}
                    <a href="{% url 'cart:add_cart' product.id %}" class="btn btn-primary">Add to Cart</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
