{% extends "base.html" %}
{% load static %}
{% block metadescription %}
        {{ product.description| truncatewords:150 }}
{% endblock %}

{% block title %}
    {% if category %}
        {{ product.name }} Codiac store
    {% endif %}
{% endblock %}

{% block content  %}
<div class="row my_prod_row_class">
    <div class="mx_auto">
        <p> <a href="{% url 'shopapp:allProdCat' %}">Home</a> | <a href="{{ product.category.get_url }}">{{ product.category }} </a> | {{ product.name }}</p>
    </div>
</div>
<div class="container">
<br>
<div class="row">
    <div class="col-12  col-sm-12-col-md-12  col-lg-6  text-center">
        <div style="min-width:18rem">
        <img src="{{ product.image.url }}" width="300px;" height="300px;" alt="{{ product.name }}">
    </div>      
        </div>
            <div class="col-12  col-sm-12  col-md-12  col-lg-6">
                <div>
                <h1 class="my_prod_title">{{ product.name }}</h1>
                <p> ${{ product.price }} </p>
                <p class="my_title"><b> Product Description </b> </p>
                <p class="text-justify my_rod_text">{{ product.des }} </p>
                {% if product.stock <= 0  %}
                <p class="text-justify my_prod_text"><b> Out of stock </b></p>
                {% else %}
                <a class="btn btn-primary" href="{% url 'cart:add_cart' product.id %}">Add to Cart </a>
                {% endif %}
            </div>
        </div>
    </div></div>
{% endblock %}
