{% extends "base.html" %}
{% load static %}
{% block metadescription %}

We have various products...
{% endblock %}
{% block title %}
    Search
{% endblock %}
{% block content %}
<div>
    <p class="text-center my_search_text">You have searched for :<b>"{{query}}"</b> </p>
</div>
<div class="container">
    <div class="row mx_auto">
        {% for product in products %}
        <div class="col-4">
            {% comment %} <div class="card"> {% endcomment %}
                <div class="card-body">
        <div class="my_bottom_margi col-9   col-sm-12   col-md-4   col-md-4   xol-lg-4">
            <div class="card text-center" style="min-width:18rem;">
                <a href="{{ product.get_url }}"><img class="card-img-top my_image" src="{{ product.image.url }}" width="200px;" height="200px;"  alt="{{ product.name }}"></a>
              <div class="card-body">
                <h4>{{ product.name }} </h4>
                <p> {{ product.price }} </p>
              </div>
            </div>
                    </div>
                {% comment %} </div> {% endcomment %}
    </div>
</div>  
</div>
</div>
{% empty %}
<div class="row mx-auto">
    <p class="text-center my_search_text"> 0 result found </p>
</div>
{% endfor %}

{% endblock %}